<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="app.component.css">
    <title>Aula05</title>
</head>
<body>
    <div>
    <h1 id="h1">Faculdade Talvez Aprenda</h1>
    <h2 id="h2">Pedro Henrique Miranda Mota RA:820133339</h2>
    <h3 id="h3">Venha para a Talvez Aprenda para desenvolver-se e adquirir conhecimento</h3>
    </div>

    <div class="container border mt-2 p-4 mb-5">
        <div class="row">
            <div class="col-12 border border success">
                Essas são as áreas de atuação e os cursos de nossa faculdade:
            </div>

        </div>
        <div class="row">
            <div class="col-4 border my-2 order-2">
                Informática - Cursos: Ciência da Computação e Análise de Dados
            </div>

        </div>
        <div class="row">
            <div class="col-4 border my-2 order-2">
                Saúde - Cursos: Enfermagem e Medicina
            </div>
        </div>
        <div class="row">
            <div class="col-4 border my-2 order-2">
                Engenharias - Cursos: Engenharia de Produção e Engenharia Civil
            </div>

        </div>
        <div class="row">
            <div class="col-4 border my-2 order-2">
                Ciências Agrárias - Cursos: Agropecuária e Agronomia
            </div>
        </div>
        <div class="row">
            <div class="col-4 border my-2 order-2">
                Ciências Biológicas - Cursos: Zoologia e Biologia
            </div>
        </div>

        <div class="row">
            <div class="container border p-3 mt-2">
                Entre em contato para conferir todas as condições
            </div>
        </div>
        <div class="row">
            <div class="container border p-3 mt-2 border-success">
                <footer>Número: 99999-9999</footer>
            </div>
        </div>

    </div>
</body>
</html>
